/ide/vscode/nbproject/private/
/server/target/
/ide/vscode.bak/nbproject/private/
/ide/nb/nbproject/private/
/ide/nb/build/
/ide/nb/server.integration/build/
/ide/nb/server.integration/nbproject/private/
/ide/nb/server.integration/release
